#music-toggle-button,
#volume-up-button,
#volume-down-button {
  display: inline-block;
  background: rgba(32, 32, 32, 0.5);
  cursor: pointer;
  color: rgb(220, 220, 220);
  border: none;
  outline: 1px solid rgba(255, 255, 255, 0.2);
  position: absolute;
  top: 2vh;
  left: 50vw;
  transform: translateX(-50%);
}

#music-toggle-button{
  padding: 0.52rem 1.25rem;
}

#volume-up-button {
  padding: 1.25rem 1.25rem;
  left: calc(50% + 5rem);
}

#volume-down-button {
  padding: 1.25rem 1.25rem;
  left: calc(50% - 5rem);
}

#music-toggle-button:hover,
#volume-up-button:hover,
#volume-down-button:hover {
  background: rgba(255, 255, 255, 0.15);
  color: rgb(220, 220, 220);
  outline: 1px solid rgba(255, 255, 255, 0.8);
}